In [1]:
import os, io
from google.cloud import vision_v1
from google.cloud.vision_v1 import types
import pandas as pd


os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'C:\Users\Aman\PycharmProjects\google_vision_ocr\google_service_token.json'

client =  vision_v1.ImageAnnotatorClient()

file_name = 'demo6.jpeg'
folder_path = r'C:\Users\Aman\Downloads\Documents\New folder'

with io.open(os.path.join(folder_path,file_name),'rb') as image_file:
    content = image_file.read()
image = vision_v1.types.Image(content=content)

response = client.text_detection(image = image)

df = pd.DataFrame(columns=['locale','description'])


texts = response.text_annotations
for text in texts:
    df = df.append(
        dict(
            locale=text.locale,
            description=text.description
        ),
        ignore_index = True
    )

In [51]:
translated_text = df.description.unique()

In [52]:
df2 = pd.read_csv('IN.csv')

In [53]:
df2

,key,place_name,admin_name1,latitude,longitude,accuracy
0,IN/110001,Connaught Place,New Delhi,28.6333,77.2167,4.0
1,IN/110002,Darya Ganj,New Delhi,28.6333,77.2500,4.0
2,IN/110003,Aliganj,New Delhi,28.6500,77.2167,NaN
3,IN/110004,Rashtrapati Bhawan,New Delhi,28.6500,77.2167,NaN
4,IN/110005,Lower Camp Anand Parbat,New Delhi,28.6500,77.2000,NaN
...,...,...,...,...,...,...
11037,IN/855116,Thakurganj,Bihar,24.9833,81.0583,NaN
11038,IN/855117,Taiyabpur,Bihar,24.9833,81.0583,NaN
11039,IN/855119,Terhagachi,Bihar,24.9833,81.0583,NaN
11040,IN/855121,Balarampur,Bihar,24.9833,81.0583,NaN
11041,IN/855126,Tulsia,Bihar,24.9833,81.0583,NaN

In [54]:
df2.admin_name1.unique()

array(['New Delhi', 'Uttar Pradesh', 'Haryana', 'Punjab', 'Chandigarh',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Uttaranchal',
       'Tamil Nadu', 'Rajasthan', 'Gujarat', 'Daman and Diu',
       'Dadar and Nagar Haveli', 'Maharashtra', 'Goa', 'Orisa',
       'Madhya Pradesh', 'Chattisgarh', 'Andhra Pradesh', 'Karnataka',
       'Pondicherry', 'Kerala', 'Lakshadweep', 'West Bengal', 'Sikkim',
       'Andaman and Nicobar', 'Assam', 'Arunachal Pradesh', 'Meghalaya',
       'Manipur', 'Mizoram', 'Nagaland', 'Tripura', 'Bihar', 'Jharkhand'],
      dtype=object)

In [55]:
df2.dtypes

key             object
place_name      object
admin_name1     object
latitude       float64
longitude      float64
accuracy       float64
dtype: object

In [56]:
x='IN/272131'
count=0
for i in range (len(df2.key)):
    j = df2.key[i]
    if x in j:
        print('found')
        print(i)
        count+=1

found
2352

In [57]:
df2.loc[2352]

key                      IN/272131
place_name     Captainganj (Basti)
admin_name1          Uttar Pradesh
latitude                   26.8648
longitude                  82.8622
accuracy                       NaN
Name: 2352, dtype: object

In [58]:
for i in range(len(df2.key)):
    j = df2.key[i]
    df2.key[i] = j[3:]

C:\Users\Aman\AppData\Local\Temp/ipykernel_5756/75764735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.key[i] = j[3:]

In [59]:
df2.head()

      key               place_name admin_name1  latitude  longitude  accuracy
0  110001          Connaught Place   New Delhi   28.6333    77.2167       4.0
1  110002               Darya Ganj   New Delhi   28.6333    77.2500       4.0
2  110003                  Aliganj   New Delhi   28.6500    77.2167       NaN
3  110004       Rashtrapati Bhawan   New Delhi   28.6500    77.2167       NaN
4  110005  Lower Camp Anand Parbat   New Delhi   28.6500    77.2000       NaN

In [68]:
## state finder from document
state = df2.admin_name1.unique()
for k in state:
    temp = k
    try:
        x = temp.split()
        x = x.lower()
        print(yes)
    except:
        pass

    for j in translated_text:
        try:
            if x[0]==j:
                def1 = j

            if x[1]==j:
                def2 = def1+' '+j
                result = def2
            if temp == j:
                result = temp
        except:
            pass

In [69]:
## district finder with pincode
for i in df2.key:
    for j in translated_text:
        try:
            if i==j:
                x=j
        except:
            pass

In [70]:
row = df2[df2.key==x]

In [71]:
row.reset_index(drop=True,inplace=True)

In [72]:
full_address = row.place_name+row.admin_name1+row.key

In [73]:
full_address.loc[0]

'Captainganj (Basti)Uttar Pradesh272131'

In [67]:
translated_text

array(['भारतीय विशिष्ट पहचान प्राधिकरण\nUnique Identification Authority of India\nनामांकन क्रम/ Enrolment No.: 2906/01686/01467\nTo\nब्यूटी यादव\nBeauty Yadav\nD/O: Nand Lal Yadav\nvillage bhikhariya\npost harivanshapur buzurg\nBhikhariya\nHaribanshpur\nBasti Uttar Pradesh - 272131\n6386844853\nSignaturo Not Verfiod\nD ATON\nAUTHORITY NOIA\nDa 201.0 2014.0\nआपका आधार क्रमांक / Your Aadhaar No. :\n2550 0768 7190\nVID : 9104 3439 3025 8239\nमेरा आधार, मेरी पहचान\nभारत सरकार\nGovernment of India\nआधार\nब्यूटी यादव\nBeauty Yadav\nजन्म तिथि/DOB: 22/06/1999\nमहिला/ FEMALE\n2550 0768 7190\nVID : 9104 3439 3025 8239\nमेरा आधार, मेरी पहचान\n1/11/2020\nDownload Date: 20/06/2021\nIssue Date: 11/11/2020\nDownload Date: 20/06/2021\n',
       'भारतीय', 'विशिष्ट', 'पहचान', 'प्राधिकरण', 'Unique',
       'Identification', 'Authority', 'of', 'India', 'नामांकन', 'क्रम/',
       'Enrolment', 'No.:', '2906/01686/01467', 'To', 'ब्यूटी', 'यादव',
       'Beauty', 'Yadav', 'D/O:', 'Nand', 'Lal', 'village', 'bhikhariya',
       'post', 'harivanshapur', 'buzurg', 'Bhikhariya', 'Haribanshpur',
       'Basti', 'Uttar', 'Pradesh', '-', '272131', '6386844853',
       'Signaturo', 'Not', 'Verfiod', 'D', 'ATON', 'AUTHORITY', 'NOIA',
       'Da', '201.0', '2014.0', 'आपका', 'आधार', 'क्रमांक', '/', 'Your',
       'Aadhaar', 'No.', ':', '2550', '0768', '7190', 'VID', '9104',
       '3439', '3025', '8239', 'मेरा', 'आधार,', 'मेरी', 'भारत', 'सरकार',
       'Government', 'जन्म', 'तिथि/DOB:', '22/06/1999', 'महिला/',
       'FEMALE', '1/11/2020', 'Download', 'Date:', '20/06/2021', 'Issue',
       '11/11/2020'], dtype=object)